.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #1d0c26;
  color: #1d0c26;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.footer a {
  cursor: pointer;
  z-index: 1;
}

.footer img {
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin-right: 8px;
}

.main {
  min-height: 86vh;
  min-width: min-content;
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
}

.grandTitle {
  color: black;

}

.songListMarco {
  margin: 0rem auto 2rem;
  border-radius: .8em;
  max-width: 1200px;
  min-width: min-content;
  padding: 10px 0px 0 0px;
}

.noWrapForce {
  white-space: nowrap !important;
}

.avatar {
  border-radius: 100%;
  border: 3px solid #6caae3 !important;
}

.songRow {
  /* cursor: url("/assets/cursor/pointer.png"), pointer; */
  border-color:rgb(0 0 0 / 15%);
  transition: background-color 0.25s ease;
}

.songRow:hover,
.songRowTop:hover,
.songRowPaid:hover {
  background-color: #cfeba5;
}

.songRowTop {
  /* cursor: url("/assets/cursor/pointer.png"), pointer; */
  transition: background-color 0.25s ease;
  background-color: rgba(229, 106, 84, 0.1);
}

.songRowPaid {
  /* cursor: url("/assets/cursor/pointer.png"), pointer; */
  transition: background-color 0.25s ease;
  background-color: rgba(255, 223, 0, 0.1);
}

.sortButton,
.customRandomButton {
  color: #1d0c26;
  border-radius: 1rem;
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
}

.sortButton>button:focus {
  color: #1d0c26;
  background-color: rgba(255, 255, 255, 0);
}

.customRandomButton:focus,
.customCategoryButton:focus,
.mandarinBtn>button:focus {
  color: #1d0c26;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: none;
  /* cursor: url("/assets/cursor/pointer.png"), pointer; */
}

.sortButton>button:hover,
.customRandomButton:hover,
.customCategoryButton:hover,
.mandarinBtn>button:hover {
  color: #1d0c26;
  background-color: rgba(255, 255, 255, 1);
  cursor: url("/assets/cursor/v2/pointer.png"), pointer;
}

.sortButton>button {
  color: #1d0c26;
  border-radius: 1rem;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  cursor: url("/assets/cursor/v2/pointer.png"), pointer;
  width: 100%;
}

.sortButton>button:active {
  color: #1d0c26 !important;
  background-color: rgba(255, 255, 255, 0.5) !important;
  box-shadow: none;
}

.customCategoryButton,
.mandarinBtn>button {
  color: #1d0c26;
  border-radius: 1rem;
  margin-bottom: 12px;
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
  /* cursor: url("/assets/cursor/pointer.png"), ; */
}

.customCategoryButtonActive {
  color: #1d0c26;
  border-radius: 1rem;
  margin-bottom: 12px;
  border: none;
  background-color: #6caae3;
  /* cursor: url("/assets/cursor/pointer.png"), pointer; */
}

.customCategoryButtonActive:focus {
  color: #1d0c26;
  background-color: #6caae3;
  box-shadow: none;
  /* cursor: url("/assets/cursor/pointer.png"), pointer; */
}

.customCategoryButtonActive:hover {
  color: #1d0c26;
  background-color: #8393a0;
  /* cursor: url("/assets/cursor/pointer.png"), pointer; */
}

.mandarinBtnActive>button {
  color: #1d0c26;
  border-radius: 1rem;
  margin-bottom: 12px;
  border: none;
  background-color: #8393a0;
  /* cursor: url("/assets/cursor/pointer.png"), pointer; */
}

.mandarinBtnActive>button:focus,
.mandarinBtnActive>button:hover {
  color: #1d0c26;
  background-color: #8393a0;
  box-shadow: none;
  /* cursor: url("/assets/cursor/pointer.png"), pointer; */
}

.mandarinBtnActive>button:active {
  color: #1d0c26;
  background-color: #8393a0;
  box-shadow: none;
}

.backToTopBtn {
  position: fixed;
  bottom: 5rem;
  right: 2rem;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.5);
  color: #1d0c26;
  border-radius: 0.5rem;
  padding: 0.75rem;
  border: none;
  box-shadow: 0 5px 10px #ccc;
  transition: 0.25s ease;
}

.backToTopBtn:hover {
  background-color: white;
}

.tableIconTd {
  padding: 0.25rem !important;
}

.tableIcons {
  display: flex;
  width: 27px;
}

.biliIcon {
  width: 20px;
  vertical-align: text-bottom;
}

.categorySelectionContainer {
  border-radius: 1rem;
  padding: 1rem;
}

.contentRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.titleBox {
  text-align: center;
  transition: transform 1s ease-out;
  background: linear-gradient(to right, white 50%, rgba(255,255,255,0.7) 0);
  background-size: 40px 100%;
  background-clip: content-box;
  border-bottom: 4px dotted white;
  max-width: 1200px;
  margin: 0 auto;
}

@media(min-width:425px) {
.title_bar {
  padding: 60px;
}
}

@media(max-width:426px) {
  .title_bar {
    padding: 60px 0;
  }
}

.title_svg {
  color: skyblue;
  fill: skyblue;
  max-width: 420px;
  width: 100%s;
  margin: 0 auto;
  background: white;
  border-radius: 6px;
  padding: 4px 8px;
  box-shadow: 0 0 4px 4px rgba(229, 106, 84, 0.1);
}

@media (min-width: 1201px) {
  .introBox {
    position: relative;
    left: 40%;
    top: -95%;
    width: 55%;
    opacity: 0;
    transition: opacity 1s;
  }

  .introBoxInnerDiv {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 1rem;
    padding: 1rem;
  }



  /* .titleCol:hover .introBox {
    opacity: 1;
  } */

  /* .titleCol:hover .titleBox {
    transform: translateX(-30%);
  } */
  
  .introTitle {
    display: flex;
    color: #1d0c26;
    font-size: 1.5em;
    font-weight: bold;
  }  

  .introTitle__rest {
    margin: 0 0 0 auto;
  }
}

@media (max-width: 1200px) {
  .introBox {
    display: none;
  }
}

.biliPlayerDiv {
  width: 100%;
}

.biliPlayerDiv iframe {
  height: 100%;
  min-height: 75vh;
}

.bvid_bar {
  border: 2px dotted #AFAFAF;
  padding: .4rem 0;
  height: 5.2rem;
  overflow-y: scroll;
  scroll-behavior: auto;
}

.bvid_bar__item {
  display: block;
  padding: .15rem 1.5rem;
  font-size: 1.2rem;
  line-height: 1.5;
  
}

.bvid_bar__item:hover {
  border-radius: .8rem;
  background: #00AEEC;
  color: rgba(255, 255, 255, 0.7);
}

.bvid_bar__item__inactive {
  color: #00AEEC;
}

.bvid_bar__item__inactive:hover {
  background: #AFAFAF;
}

.outerContainer {
  /*background: url("/assets/images/background_2x_opt.webp") center center no-repeat fixed;*/
  background: #F0F8FD;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-width: 100%;
  min-height: 100vh;
  position: fixed;
  background-attachment: scroll;
  z-index: -1;
}

.contentContainer {
  z-index: 100;
}

.categorySelectionTitle {
  margin: auto;
  text-align: center;
  width: 215px;
  margin-bottom: 1rem;
}

.introParagraph {
  color: #1d0c26;
}

.cornerToggle {
  display: flex;
  flex-direction: column;
  font-size: 12px;
}

.goToLiveDiv {
  position: absolute;
  /* cursor: url("/assets/cursor/pointer.png"), pointer; */
  top: 0.25rem;
  left: 0.25rem;
  z-index: 1;
  border-radius: 5px;
}

.goToLiveDiv:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.offCanvasToggleDiv {
  position: absolute;
  /* cursor: url("/assets/cursor/pointer.png"), pointer; */
  top: 0.25rem;
  right: 0.25rem;
  z-index: 1;
}

.introHomeList {
  display: inline-flex;
  align-items: center;
}

.introHomeList__item {
  display: block;
  margin: 0 0.5rem;
}

.song { padding: 5px 0 0 10px; }

.song + .song {
  margin-bottom: 3rem;
}

.icon {
  height: 1.2em;
  cursor: pointer;
  transform: translate(0, -.2em);
}
