/* song_table { */

.song_table {
    width: 100%;
    min-width: fit-content;
}

.song_table__thead th {
    text-wrap: nowrap;
}

.song_table__name {
    word-break: break-all;
    font-size: 1.2rem;
    font-weight: bold;
}

.song_table__translated_name {
    word-break: break-all;
    font-size: 1.2rem;
}


.song_table tr>td .icon-copy {
    opacity: 0;
}

.song_table__note {
    word-break: break-all;
    font-size: 1em;
    color: #26292b;
}

.song_table__artist {
    word-break: break-all;
    font-size: 0.8em;
    color: #4b5258;
}

.song_table__date_count {
    text-wrap: nowrap;
    min-width: 120px;
    color: #4b5258;
}

.song_table__BVID {
    padding: 0 .4em;
    color: #00AEEC;
    /* border-radius: .8em 0 0 .8em; */
    cursor:pointer;
    height: 1.5em;
    min-width: 80px;
}

@media(max-width:619px) {
    
    .song_table tr>td:hover .icon-copy {
        opacity: 1;
        color: #45BEEA;
    }
    
    .song_table, .song_table__tbody {
        display: block;
    }
    
    .song_table__thead {
        display: none;
    }
    
    .song_table tr {
        padding: .2rem 0 0 .5rem;
    }
    
    .song_table tr>td {
        display: block;
    }
}
    
@media(min-width:620px) {
    .song_table tr>td { padding-top: 1.5rem; }

    .song_table tr>td:hover {
        border-radius: .8rem;
        position: relative;
        overflow: hidden;
    }
    
    .song_table tr>td:hover::before {
        opacity: 0.6;
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        content: ' ';
    }

    .song_table tr>td:hover, .song_table tr>td:hover::before {
        background: #AFAFAF;
        color: black;
    }
    
    .song_table tr>td:hover::after {
        font-size: 1.2rem;
        font-weight: bold;
        color: black;
        opacity: 0.5;
        display: block;
        width: 100%;
        position: absolute;
        left: 0;
        top: 100%;
        transform: translate(0, -60%);
        z-index: 1;
        content: ' ';
    }

    .song_table tr>td:empty:hover, .song_table tr>td:empty:hover::before {
        background: #AFAFAF;
    }
    .song_table tr>td:empty:hover::after { content: '空'; }
    
    .song_table tr>.song_table__name:hover,
    .song_table tr>.song_table__name:hover::before {
        cursor: url("/assets/cursor/pointer.png"), pointer;
        background: #45BEEA;
        color: #26292b;
    }
    
    .song_table tr>.song_table__name:hover::after { content: '复制'; }

    .song_table tr>.song_table__translated_name:hover,
    .song_table tr>.song_table__translated_name:hover::before {
        cursor: url("/assets/cursor/pointer.png"), pointer;
        background: #45BEEA;
    }
    
    .song_table tr>.song_table__translated_name:hover::after { content: '复制'; }
    
    .song_table tr>.song_table__note:hover::after { content: '备注'; }
    
    .song_table tr>.song_table__artist:hover::after { content: '原唱'; }
    
    .song_table tr>.song_table__date_count:hover::after { content: '最新/次数'; }
    
    .song_table tr>.song_table__BVID:hover,
    .song_table tr>.song_table__BVID:hover::before {
        cursor: url("/assets/cursor/pointer.png"), pointer;
        background: #45BEEA;
    }
    
    .song_table tr>.song_table__BVID:hover > * { color: black !important; }
    
    .song_table tr>.song_table__BVID:hover::after { content: '歌切'; }
}

/* } song_table */
